  body {
  margin: 0;
  }

/* Header  */

  header {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 80px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    z-index: 1;
  }

  .logo {
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex: 1;
  }

  .logo span {
    color: MediumAquamarine;
  }

  .logo img {
      width: 70px;
      height: 60px;
      margin-right: 12px;
  }

  nav a {
    color: black;
  }

  nav span {
    padding: 20px 10px;
    display: inline-block;
  }

  header nav {
    padding-right: 30px;
  }

/* Content */

  .main-content-container {
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
  }

  .column {
    display: flex;
    flex-direction: column;
    margin-right: 32px
  }

  .column.large {
    /* background-color: lightblue; */
    width: 630px;
    display: flex;
  }

  .column.medium {
    /* background-color: coral; */
    width: 300px;
    display: flex;
  }

  .column.small {
    /* background-color: lightgreen; */
    width: 240px;
  }

  .image-headline {
    height: 300px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .feature .image-headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: left;
  }

  .main-stories {
    display: flex;
    margin-top: 17px;
    justify-content: space-between;
  }

  .article {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .text {
    font-family: Georgia;
    font-size: 17px;
    color: black;
    height: 250px;
  }

  .bites h3 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .bite {
    display: block;
    text-align: center;
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
    border-bottom: 1px solid black;
    justify-content: space-between;
    padding: 11px 20px;
  }

  .tuna {
    background-image: url('img-story-main.png');
  }

  .fall {
    background-image: url('img-story-2.png');
  }

  .camera {
    background-image: url('img-story-3.png');
  }

  .cats {
    background-image: url('img-story-1.png');
  }

  .footer {
    height: 300px;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .myt {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
